$primary-font : futura, verdana, sans-serif;
$secondary-font : sans-serif, 'Georgia', serif;
$heading-font: $primary-font;
$body-font: $secondary-font;

$line-height: #{$ratio}em;
$font-weight: 300;
$base-font-size: 14;

html {
    direction: ltr;
    display: block;
    font-family: $body-font;
    font-size: 1 / $base-font-size * 12em;
    -webkit-font-smoothing: antialiased;
    font-weight: $font-weight;
    line-height: $line-height;
    -webkit-locale: en-UK;
    text-rendering: optimizeLegibility;
    unicode-bidi: embed;
}

body {

    @include breakpoint(medium) {
        font-size: 1 / $base-font-size * 16em;
        line-height: $line-height;
    }

    @include breakpoint(large) {
        font-size: 1 / $base-font-size * 18em;
        line-height: $line-height;
    }
}

blockquote {
    background-color: transparentize($color__black, .9);
    border-left: .4em solid $color__black;
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding: .2em .7em;
}

cite {
    display: block;
}
