.profile {

    ul {
        @include remove-list-marker;
    }

    li {
        clear: both;
    }
}

.avatar {
    @include layout($default);
    @include span(last 2 of 4);
    margin-bottom: gutter();
    margin-left: gutter();
}
