<perch:content id="date" type="date" time="true" label="Event date" required="true" order="2" suppress="true" default="2018-01-01 18:00" />
<perch:content id="eventDisplayDate" type="date" time="true" format="%s" label="Announcement Date" required="true" order="2" suppress="true" format="%Y-%m-%d %H:%M" default="2018-01-01 13:00" />
<perch:content id="ticketSalesDate" type="date" time="true" format="%s" label="Ticket Date" required="true" order="2" suppress="true" default="2018-01-01 11:00" />
<perch:content id="titoCode" type="text" label="Tito Code (no Url)" order="3" suppress="true" />

    <div datetime="<perch:content id="date" type="date" time="true" format="%Y-%m-%d %H:%M" default="2018-01-01 18:00" />">

        <h1><perch:content id="title" type="text" label="Title" required="true" title="true" order="1" /></h1>

        <time class="date" data-day="<perch:content id="date" type="date" time="true" format="%d" />"><perch:template path="includes/svg/date.svg" /><perch:content id="date" type="date" time="true" format="%-d %B" /></time>

        <time class="time"><perch:template path="includes/svg/time.svg" /><perch:content id="date" type="date" time="true" format="%H:%M" /></time>

        <a href="#map" class="location"><perch:template path="includes/svg/location.svg" />TusPark</a>

        <perch:if id="date" match="gte" value="{todaysDate}" format="%s">
            <perch:if  id="ticketSalesDate" match="lte" value="{todaysDate}" format="%s">
                <div class="event-promotion__buttons">
                    <tito-button event="frontendne/<perch:content id="titoCode" />">Get a ticket</tito-button>
                </div>
             </perch:if>
        </perch:if>

    </div>

    <perch:content id="introduction" type="textarea" suppress="true" label="Introduction" count="chars" chars="200" append="…" size="xs" help="Short version for home page (max 200 characters)" />

    <perch:content id="details" type="textarea" label="Details" markdown="true" />

    <h2>Tickets</h2>

    <p>Tickets are up for grabs here <strong>11:00 on the <perch:content id="ticketSalesDate" type="date" time="true" format="jS \of F" /></strong>. Make sure you're <a href="#mailing-list">on the mailing list</a> and you'll get a reminder email on the morning of the <perch:content id="ticketSalesDate" type="date" time="true" format="jS" />.</p>

</div>

    <perch:if id="date" match="gte" value="{todaysDate}" format="%s">
        <perch:if  id="ticketSalesDate" match="lte" value="{todaysDate}" format="%s">
        <div class="tito-box">
                <div class="wrapper">
                        <tito-button event="frontendne/<perch:content id="titoCode" />">Get a ticket</tito-button>
                </div>
            </div>
         </perch:if>
   </perch:if>

<div class="wrapper">

<perch:content id="slug" label="Event URL" type="slug" for="date_year date_month date_day" suppress="true" />


<perch:noresults>
  <h1>404</h1>
  <p>Sorry this event has not been found. Please return to the <a href="/events/">events</a> page.</p>
</perch:noresults>
