<section class="event-promotion">
    <span>Our next event&hellip;</span>
    <h1><perch:content id="heading" type="smarttext" label="Heading" /></h1>
    <perch:content id="desc" type="textarea" markdown="true" label="Description" count="chars" chars="200" append="…" size="s" help="Maximum 200 characters)" />
    <a href="<perch:content id="url" type="text" label="Button URL" />" class="button"><perch:content id="button_text" type="text" label="Button text" /></a>
    <perch:content id="override" type="checkbox" label="Enable override?" value="override" suppress="true" />
</section>
