<h1><perch:content id="name" type="text" label="Name" required="true" title="true" /></h1>
<perch:if exists="image">
  <img class="avatar" src="<perch:content type="image" id="image" label="Image" width="300" height="300" density="2" quality="100" crop="true" bucket="avatars" />" alt="<perch:content type="text" id="name" />" />
</perch:if>
<perch:content id="bio" type="textarea" label="Bio" markdown="true" required="true" size="s" />

<ul>
  <perch:if exists="website">
    <li>
      Website: <a href="//<perch:content id="website" type="text" label="Website address" replace="http://|,https://|" />"><perch:content id="website" type="text" replace="http://|,https://|" /></a>
    </li>
  </perch:if>
  <perch:if exists="twitter">
    <li>
      Twitter: <a href="https://twitter.com/<perch:content id="twitter" type="text" label="Twitter username" replace="@|" />">@<perch:content id="twitter" type="text" replace="@|" /></a>
    </li>
  </perch:if>
  <perch:if exists="github">
    <li>
      GitHub: <a href="https://github.com/<perch:content id="github" type="text" label="GitHub username" />"><perch:content id="github" type="text" /></a>
    </li>
  </perch:if>
  <perch:if exists="codepen">
    <li>
      Codepen: <a href="https://codepen.io/<perch:content id="codepen" type="text" label="Codepen username" />"><perch:content id="codepen" type="text" /></a>
    </li>
  </perch:if>
</ul>

<perch:content id="status" type="select" label="Status"
options="Draft|draft, Published|published" allowempty="false" suppress="true" />

<perch:content id="slug" label="Speaker URL" type="slug" for="name" suppress="true" />

<perch:noresults>
  <h1>404</h1>
  <p>Sorry this speaker has not been found. Please return to the <a href="/speakers/">speakers</a> page.</p>
</perch:noresults>
