<h1><perch:content id="title" type="text" label="Title" required="true" order="1" title="true" /></h1>

<perch:content id="introduction" type="textarea" label="Introduction" count="chars" order="2" chars="200" append="…" size="xs" help="Keep this short! (max 200 characters)" />

<h2>Video</h2>
<perch:content id="video" divider-before="Media embed code" type="textarea" order="5" size="xs" label="Wistia link" html="true" help="Embed code from the 'Inline embed' tab" />

<h2>Slides</h2>
<perch:content id="slides" type="textarea" size="xs" label="Slideshare link" order="6" html="true" help="Embed code from 'The beginning of the Presentation'" />

<perch:if exists="summary">
  <h2>Summary</h2>
</perch:if>
<perch:content id="summary" type="textarea" label="Summary/transcription" order="3" markdown="true" />

<perch:content id="slug" label="Talk URL" type="slug" for="title" suppress="true" />

<perch:related id="speaker" collection="Speakers" label="Speaker" order="4">
  <div>
    <a href="/speakers/<perch:content id="slug" type="slug" />">Find out more about <perch:content id="name" /></a> ›
  </div>
</perch:related>

<perch:categories id="topic" label="Topics" set="topic" required="true" order="7" display-as="checkboxes">
  <perch:before>
    <h2>Topics covered</h2>
    <ul>
  </perch:before>
    <li>
      <a href="/talks/topic/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a>
    </li>
  <perch:after>
    </ul>
  </perch:after>
</perch:categories>

<perch:content id="status" type="select" label="Status"
options="Draft|draft, Published|published" allowempty="false" />

<perch:noresults>
  <h1>404</h1>
  <p>Sorry this talk has not been found. Please return to the <a href="/talks/">talks</a> page.</p>
</perch:noresults>
