<perch:before>
    <ul class="index-list">
</perch:before>

      <li>
        <h2>
          <a href="/talks/<perch:content id="slug" type="slug" />">
            <perch:content id="title" type="text" />
          </a>
        </h2>
        <p><perch:content id="introduction" type="textarea" chars="200" append="…" /></p>
        <div>
          <a href="/talks/<perch:content id="slug" type="slug" />">Read more</a> ›
        </div>
      </li>

<perch:after>
    </ul>
  </div>
</perch:after>

<perch:noresults>
  <h1>Topic doesn't exist</h1>
  <p>There are no talks in the topic you've requested.</p>
</perch:noresults>
