%input {
    -webkit-appearance: none;
    backface-visibility: hidden;
    background-color: $color__white;
    border: 0;
    border-bottom: pow($ratio--inv, 2) + em solid $color__gray;
    border-radius: 0;
    color: $color__black;
    display: block;
    font-family: $secondary-font;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 #{$ratio--inv}em;
    padding: #{$ratio--inv}em;
    position: relative;
    transform: translateZ(0);
    transition: border $animation__timing--interaction;
    width: 100%;
    z-index: 2;

    &:focus {
        border-bottom-color: $color__primary;
        outline: none;
    }
}

[type=email],
[type=text],
textarea {
    @extend %input;
}

[type="submit"] {
    font-family: $heading-font;
    margin-top: 1em;
}

label,
legend {
    display: block;
    font-family: $heading-font;
    margin-top: 1em;
}

fieldset {
    margin-bottom: .25em;
    margin-top: 1em;

    label {
        display: inline-block;
        font-family: $body-font;
        margin-left: .5em;
        margin-right: 1em;
        margin-top: 0;

        + label {
            margin-right: 0;
        }
    }
}

form {
    margin-bottom: 2em;

    small {
        display: block;
        font-style: italic;
        line-height: 1.2;
    }
}

textarea {
    min-height: 8em;
}

select {
    @extend %input;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    @media screen and (min-width:0\0) { // target IE9 and IE10

        select {
            background: none;
            padding: 5px;
        }
    }
}

select::-ms-expand { // for IE 11
    display: none;
}
