%hn {
    font-family: $heading-font;
    font-weight: 600;
    line-height: 1em;
    margin: #{$ratio}em 0 #{$ratio--inv}em;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %hn;
}

h1 {
    font-size: pow($ratio, 1) + em;
}

h2 {
    font-size: ($ratio--inv / 2) + 1em;
    margin-bottom: #{$ratio--inv}em;
}

h3,
h4 {
    font-size: ($ratio--inv / 3) + 1em;
}
