<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="<perch:pages id="sitename" type="hidden" />" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="<perch:pages id="url" type="hidden" />" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="<perch:pages id="title" type="hidden" />" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="<perch:pages id="description" type="textarea" chars="150" append="…" escape="true" striptags="true" />" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="sharing_image" type="hidden" />" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="<perch:pages id="type" type="hidden" />" />
<meta prefix="og: http://ogp.me/ns#" property="article:author" content="<perch:pages id="author" type="hidden" />" />
